.CaseSwiper {
  height: 85%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.MainSwiper {
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media screen and (max-height: 650px) {
  body {
    background-color: blue;
  }
  .CaseSwiper {
    height: 94%;
  }
}
@media screen and (min-height: 800px) {
  .CaseSwiper {
    height: 65%;
  }
}
