/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  @import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap");

  --clr-main: var(--clr-white);
  --clr-accent: #ffc200;
  --clr-white: #fff;
  --clr-black: #000;

  --fnt-heading: "Arial black", sans-serif;
  --fnt-body: ;
  --fnt-special: ;

  --padding-1: ;
  --padding-2: ;
  --padding-3: ;
  --padding-4: ;

  --brdr-black: 0.5px solid #000;
  --brdr-white: 1px solid #fff;
}

.title-btn {
  border: var(--brdr-white) !important;
  background-color: transparent !important;
  color: var(--clr-white) !important;
}

*,
*::before,
*::after,
*::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
.About-me h2,
.testande {
  font-family: "Rubik", sans-serif;
  margin: -3% 0;
}
.testande,
.About-me h2 {
  --min: 1.55em;
  --val: 4.7vh;
  --max: 2em;
}
/*   TYPOGRAPHY    */
h1,
h2 {
  font-family: var(--fnt-heading);
  line-height: 1;
  text-transform: uppercase;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
p {
  line-height: 1.45;
}
h1,
h2,
p {
  font-size: clamp(var(--min), var(--val), var(--max));
}
.About-me h2,
h1 {
  --min: 1.55em;
  --val: 4vh;
  --max: 2em;
}
h2 {
  --min: 1.25em;
  --val: 3vh;
  --max: 1.85em;
}
p {
  --min: 1rem;
  --val: 1.75vw;
  --max: 1.15em;
}

/* BASIC STYLING*/
html {
  height: -webkit-fill-available;
}
body {
  min-height: 100vh;
  min-width: 300px;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;

  margin: 0;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--clr-accent);
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  text-rendering: optimizeSpeed;
}
.test-wrap2 {
  position: relative;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.MotionDiv .swiper {
  max-width: 340px;
  width: 50%;
  min-width: calc(260px + 4rem);
}
#root {
  max-width: 340px;
  width: 50%;
  min-width: 260px;
}
.About-me {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  max-width: 400px;
  min-width: calc(260px + 4rem);
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 2rem;
  z-index: 1;
}
.About-me h2,
.About-me p {
  color: var(--clr-black);
}
.About-me .ExitButton {
  top: auto;
  right: 1rem;
  bottom: 1rem;
}

.AppWrapper {
  position: relative;
}
.MotionDiv {
  min-width: 260px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 3;
  background-color: var(--clr-accent);
}

.button-next {
  right: -1.5rem;
}
.button-prev {
  left: -1.5rem;
}
svg {
  vertical-align: middle;
}
button {
  all: unset;
  cursor: pointer;
}

nav button {
  background-color: var(--clr-white);
  padding: 0.65rem 1.25rem;
  border-radius: 300px;
}

#case-bg-one {
  background-image: url("./props/01.png");
}
#case-bg-two {
  background-image: url("./props/02.png");
}
#case-bg-three {
  background-image: url("./props/11.png");
}
#case-bg-four {
  background-image: url("./props/12.png");
}

.GuideMessage {
  display: none;
}
.temp-nav {
  position: absolute;
  padding: 1.25rem;
  border-radius: 100px;
  background-color: var(--clr-white);
  display: inline-block;
  top: 50%;
  z-index: 2;
}
.ExitButton {
  background-color: var(--clr-white);
  border-radius: 300px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 100;
  padding: 0.65rem;
}
.CaseBtn {
  background-color: var(--clr-white);
  border-radius: 300px;
  z-index: 100;
  padding: 0.65rem;
}

@media screen and (min-width: 821px) {
}
@media screen and (max-height: 650px) {
  .swiper-slide {
    height: 65vh;
  }
}
@media screen and (min-height: 800px) {
  .swiper-slide {
    max-height: 500px;
  }
}

/*          SWIPER           */
/*         -Review!          */
.swiper {
  border-radius: 0.25rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  background-color: var(--clr-white);
}
.swiper-vertical .swiper-slide {
  padding: 0 2.5rem;
}
.swiper-slide {
  overflow-y: hidden;
  height: 60vh;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;

  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.swiper-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.swiper-backface-hidden .swiper-slide {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.swiper-slide button {
  background-color: var(--clr-white);
  color: var(--clr-black);
  padding: 0.65rem 1.25rem;
}

.swiper-title {
  width: calc(100% - 4rem);
  color: black;
  position: absolute;
  display: flex;
  bottom: 1.55rem;
  left: 2rem;
  align-items: flex-end;
  flex-direction: column;
  gap: 0.65rem;
}
.swiper-title h1 {
  width: 100%;
}
.swiper-title * {
  margin: 0;
  text-align: left;
}
.swiper-title p {
  display: inline-block;
  padding: 0.35rem 0.625rem;
  border-radius: 30px;
  border: var(--brdr-white);
  text-align: center;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  background-color: var(--clr-white);
  border: 0.5px solid black;
  cursor: pointer;
  margin: 0 2px;
  vertical-align: middle;
  border-radius: 0;
  -webkit-transition: all 300ms ease 1s;
  -o-transition: all 300ms ease 1s;
  transition: all 300ms ease 1s;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  opacity: 0.5;
}
.swiper-pagination {
  padding-right: 1rem;
  position: absolute;
  height: 6px;
  top: 1rem;
  position: absolute;
  text-align: right;
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  right: 0rem;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0);
}
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
  display: block;
}
.swiper-pagination-bullet {
  min-height: 0.75rem;
  min-width: 0.75rem;
  max-width: 0.8rem;
  max-height: 0.8rem;
  height: 1vw;
  width: 1vw;
  display: inline-block;
  border-radius: 50%;
}
.swiper-pagination-clickable .swiper-pagination-bullet-active {
  border-radius: 100px;
  max-height: 1.5rem;
  height: 4vh;
  opacity: 1;
}

table,
th,
tr,
td {
  padding: 0.25rem 0.65rem;
  border-collapse: collapse;
  border: var(--brdr-black);
  background-color: var(--clr-white);
}

table {
  position: absolute;
  bottom: 0.5rem;
  width: calc(100% - 2rem);
}
.case-title {
  text-align: center;
}
/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  background-color: var(--clr-white);
  border: var(--brdr-black);
  color: var(--clr-black);
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
textarea {
  height: 25vh;
}
/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: var(--clr-white);
  border: var(--brdr-black);
  padding: 12px 20px;
  border-radius: 300px;
  cursor: pointer;
}

.About-me .ExitButton svg,
.CaseBtn svg {
  margin-left: 0.35rem;
}
.swiper button {
  border: var(--brdr-black);
}
